<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Pais</h2>
  <hr />

  <div class="box">
    <div class="container-1">
      <app-pais-input type="search" id="search" (onEnter)="buscar($event)" (onDebounce)="surgerencias($event)" placeholder="buscar pais">
      </app-pais-input>
    </div>
  </div>
</div>
<ul *ngIf="mostrarSurgerencias" class="list-group" >
    <li *ngFor="let pais of paisesSurgeridos" class="list-group-item list-group-item-action" >
       <a class="nav-link" [routerLink]="['/pais',pais.alpha2Code]">{{pais.name}}</a>
        
    </li>

    <ul *ngIf="mostrarSurgerencias"
    class="list-group">
        <li  class="list-group-item list-group-item-action" 
        (click)="buscarSurgerido(termino)" >
           <a class="navbar" >Buscar {{termino}}</a>
            
        </li>

</ul>
<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
